# Install these on work machines only
{{- if eq .location "work-rsi" }}
brew 'teleport'
brew 'openjdk@17'
brew 'gradle'

cask 'zoom'
cask '1password'
{{- end }}

# Install these on home machines only
{{- if eq .location "home" }}
{{- end }}

brew 'docker'
brew 'docker-compose'
brew 'git'
brew 'colima'
brew 'jenv'
brew 'zplug'

cask 'google-chrome'
cask 'sublime-text'
cask 'iterm2'
cask 'intellij-idea'
cask 'visual-studio-code'
cask 'slack'
cask 'postman'
cask 'grammarly'
cask 'evernote'
